@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #000000; /* Light text */
  --border-opacity: 20%;
  --border: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    /* Dark Theme */
    html.dark {
      --background: #000000; /* Dark background */
      --foreground: #ffffff; /* Dark text */
      --border-opacity: 20%;
      --border: rgba(224, 224, 224, 0.2);
    }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  border-color: var(--border) !important;
}

